.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: flex-start;
  margin-bottom: 10px;
}

.input-field {
  min-height: 40px;
  padding: 2px 5px;
  border: 1px solid #E1E5F1;
  width: 100%;

  &:hover {
    border-color: #5974D9;
  }

  &:focus {
    outline: none;
  }
}